# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/
*.h5
*.pkl
*.joblib

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
